.productList{
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1200px;
}
.productList > * {
    flex: 0 1 33%;
    justify-content: center;
}
